<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="immagini/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>

 <header class="header">
 <a href="/" class="logo">Portfoglio</a>
 <i class='bx bx-menu' id="menu-icon"></i>
 <nav class="navbar">
   <a href="/"  class="active">Home</a>
 </nav>
   </header>

   <section class="home" id="home">
   <div class="home-content">
   <h1 style="color: rgb(206, 0, 0);">ESPERIENZA IN ANGULAR</h1>

   <p>Mi scuso per la confusione. Ecco una versione della frase che non menziona TypeScript:

     La mia esperienza con la creazione di connessioni interattive e l'implementazione in progetti web è stata fondamentale nel mio percorso come sviluppatore in Angular. Comprendere le dinamiche di sviluppo nel contesto di Angular è essenziale nel mondo dello sviluppo web moderno. Questa conoscenza è diventata un elemento chiave nelle mie competenze, poiché mi ha permesso di creare applicazioni web dinamiche, scalabili e performanti utilizzando il potente framework di Angular. La capacità di lavorare in modo efficiente con Angular 
     si è rivelata fondamentale per il mio successo come sviluppatore nel panorama tecnologico attuale.</p>
   <div class="social-media">
       <a href="https://github.com/matteoinfo2004hhhh/esperienza-Angular"> <i class='bx bxl-github'></i></a>
       <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
   </div>
   <a href="expl/esperienza-Angular-main.zip" class="btn" download="expl/esperienza-Angular-main.zip">Scarica le mie competenze</a>

   </div>

   <div class="home-img">
     <img src="immagini/angular.png" style="width: 200px;height: 200px;">
   </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="immagini/script.js"></script>
</body>
</html>