
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="immagini/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>c++ experienza</title>
  </head>
  <body>


    <header class="header">
    <a href="/" class="logo">Portfoglio</a>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
      <a href="/"  class="active">Home</a>
    </nav>
    </header>

  <section class="home" id="home">
  <div class="home-content">
  <h1 style="color: rgb(0, 81, 255);">ESPERIENZA IN C++</h1>

  <p>La mia esperienza con il linguaggio di programmazione C++ rappresenta un elemento fondamentale nella mia carriera di sviluppatore software. 
      Le mie competenze in C++ comprendono una vasta gamma di aspetti, dall'architettura del software alla risoluzione di problemi complessi.Grazie a questo linguaggio ho imparato ad 
  usare altri linguaggi nuovi e popolari come html css js e node js mi ha dato conoscienza di basi per poter sfruttare bene l'esperienza!</p>
  <div class="social-media">
      <a href="https://github.com/matteoinfo2004hhhh/eserciziario-C-"> <i class='bx bxl-github' ></i></a>
      <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
  </div>
  <a href="expl/eserciziario-C--main.zip" class="btn" download="expl/eserciziario-C--main.zip">Scarica le mie competenze</a>

  </div>

  <div class="home-img">
    <img src="immagini/c++.png"  style="height: 290px; width:300 ;">
  </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="immagini/script.js"></script>
</body>
</html>