
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="immagini/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>

    <header class="header">
    <a href="/" class="logo">Portfoglio</a>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
      <a href="/"  class="active">Home</a>
    </nav>

  </header>

  <section class="home" id="home">
  <div class="home-content">
  <h1 style="color: rgb(0, 81, 255);">ESPERIENZA IN CSS</h1>

  <p>Le mie competenze in CSS sono un elemento chiave del mio percorso come sviluppatore web. CSS è un linguaggio fondamentale per la creazione di esperienze utente accattivanti 
      e interattive sul web, e le mie abilità in questo campo mi consentono di trasformare 
      idee creative in realtà visibili e funzionali Posso creare stili visivamente accattivanti per le pagine web utilizzando CSS. Questo include la capacità di definire colori, tipografie, sfondi, bordi e ombre, oltre a gestire la formattazione del testo e degli elementi!</p>
  <div class="social-media">
      <a href="https://github.com/matteoinfo2004hhhh/eserciziario-in-CSS"> <i class='bx bxl-github' ></i></a>
      <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
  </div>
  <a href="expl/eserciziario-in-CSS-main.zip" class="btn" download="expl/eserciziario-in-CSS-main.zip">Scarica le mie competenze</a>

  </div>

  <div class="home-img">
    <img src="immagini/css.png"  style="height: 310px; width:260 ;">
  </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="immagini/script.js"></script>
</body>
</html>