
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="immagini/style.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  } 
</style>
</head>
<body>

<header class="header">
<a href="/" class="logo">Portfoglio</a>
<i class='bx bx-menu' id="menu-icon"></i>
<nav class="navbar">
  <a href="/"  class="active">Home</a>
  <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
</nav>
</header>

<section class="services" id="services">
  <h2 class="heading">DATABASE</h2>


    <div class="portfolio-container">
      <div class="portfolio-box" style="border-radius: 6rem ;border: 11rem solid var(--main-color2);  box-shadow: 0 0 4rem var(--main-color);margin: 6px;">
        <img src="immagini/database.png" alt="" style="height: 400px;">
          <div class="portfolio-layer">
              <h4>DATABASE #1</h4>
              <a href="immagini/database1.pdf" download="immagini/database1.pdf"><i class='bx bxs-download'></i></a>
          </div> 
         </div>

         <div class="portfolio-box" style="border-radius: 6rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 4rem var(--main-color);margin: 6px;">
          <img src="immagini/database.png" alt="" style="height: 400px;">
            <div class="portfolio-layer">
              <h4>DATABASE #2</h4>
                <a href="immagini/database2.pdf" download="immagini/database2.pdf"><i class='bx bxs-download'></i></a>
            </div> 
           </div>

           <div class="portfolio-box" style="border-radius: 6rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 4rem var(--main-color);margin: 6px;">
            <img src="immagini/database.png" alt="" style="height: 400px;">
              <div class="portfolio-layer">
                <h4>DATABASE #3</h4>
                  <a href="immagini/database3.pdf" download="immagini/database3.pdf"><i class='bx bxs-download'></i></a>
              </div> 
             </div>
      </div>
    </div>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="immagini/script.js"></script>
</body>
</html>