<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="immagini/style.css">
</head>
<body>
<header class="header">
<a href="/" class="logo">Portfoglio</a>
<i class='bx bx-menu' id="menu-icon"></i>
<nav class="navbar">
  <a href="/"  class="active">Home</a>
</nav>
</header>
<section class="home" id="home">
<div class="home-content">
<h1 style="color: red;">ESPERIENZA IN HTML</h1>
<p>Nella seguente casella troverai una raccolta dei programmi da me sviluppati utilizzando HTML come siti web e librereie per mettere i compomenti 
  e ho dimostrato la mia capacità di creare strutture web complesse e ben organizzate utilizzando HTML. Questo include la definizione di gerarchie di elementi, l'uso appropriato di tag 
  semantici come header, nav, main, article, section e footer, garantendo così che il contenuto sia strutturato in modo chiaro e significativo. </p>
<div class="social-media">
    <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
    <a href="https://github.com/matteoinfo2004hhhh/eserciziario-in-HTML"> <i class='bx bxl-github' ></i></a>
</div>
<a href="expl/eserciziario-in-HTML-main.zip" class="btn" download="expl/eserciziario-in-HTML-main.zip">Scarica le mie competenze</a>

</div>

<div class="home-img">
  <img src="immagini/HTML.png" alt="">
</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="immagini/script.js"></script>
</body>
</html>