<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="immagini/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
  <header class="header">
  <a href="/" class="logo">Portfoglio</a>
  <i class='bx bx-menu' id="menu-icon"></i>
  <nav class="navbar">
    <a href="/"  class="active">Home</a>
  </nav>
    </header>

    <section class="home" id="home">
    <div class="home-content">
    <h1 style="color: rgb(0, 102, 255);">ESPERIENZA IN JQUERY</h1>
    <p>La mia esperienza con jQuery, un potente framework JavaScript ampiamente utilizzato nell'ambito dello sviluppo web, è un elemento cruciale del mio percorso come sviluppatore web. Ho sviluppato competenze nella creazione di interfacce utente dinamiche e altamente interattive, utilizzando le funzionalità di jQuery per migliorare l'esperienza degli utenti sui siti web. Questa competenza rappresenta
       un pilastro fondamentale nel mio lavoro di sviluppatore web e mi ha permesso di creare esperienze utente coinvolgenti e intuitive!</p>
    <div class="social-media">
        <a href="https://github.com/matteoinfo2004hhhh/esperienza-Jquery"> <i class='bx bxl-github' ></i></a>
        <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
    </div>

    <a href="expl/esperienza-Jquery-main.zip" class="btn" download="expl/esperienza-Jquery-main.zip">Scarica le mie competenze</a>
    </div>

    <div class="home-img">
      <img src="immagini/jquery.gif">
    </div>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="immagini/script.js"></script>
</body>
</html>