
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="immagini/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  </head>
  <body>


    <header class="header">
    <a href="/" class="logo">Portfoglio</a>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
      <a href="/"  class="active">Home</a>
    </nav>

  </header>

  <section class="home" id="home">
  <div class="home-content">
  <h1 style="color: rgb(255, 251, 0);">ESPERIENZA IN JAVASCRIPT</h1>

  <p>Le mie competenze in JavaScript sono un pilastro fondamentale del mio percorso come sviluppatore web. 
    JavaScript è il linguaggio che dà vita alle applicazioni web, consentendo loro di essere dinamiche e interattive.
     La mia esperienza in questo campo mi permette di trasformare idee creative in solide realtà funzionali. 
      Sono in grado di creare applicazioni web complete sfruttando appieno il potenziale di JavaScript come esmpio vidoe games e come muovere i div e altre  cose per far comparire gli elementi!</p>
  <div class="social-media">
      <a href="https://github.com/matteoinfo2004hhhh/eserciziario-in-JS"> <i class='bx bxl-github' ></i></a>
      <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
  </div>
  <a href="expl/eserciziario-in-JS-main.zip" class="btn" download="expl/eserciziario-in-JS-main.zip">Scarica le mie competenze</a>

  </div>

  <div class="home-img">
    <img src="immagini/js.png" style="border-radius:30px">
  </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="immagini/script.js"></script>
</body>
</html>