<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="immagini/style.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<header class="header">
<a href="/" class="logo">Portfoglio</a>
<i class='bx bx-menu' id="menu-icon"></i>
<nav class="navbar">
  <a href="/"  class="active">Home</a>
  <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
</nav>
</header>

<section class="services" id="services">
  <h2 class="heading">SOFTWARE DEVELOPER</h2>

    <div class="portfolio-container">
      <div class="portfolio-box" style="border-radius: 6rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 4rem var(--main-color);margin: 6px;">
        <img src="immagini/dado.png" alt="" style="height: 400px;">
          <div class="portfolio-layer">
              <h4>GIOCO DEL DADO</h4>
              <a href="expl/software dado.zip" download="expl/software dado.zip"><i class='bx bxs-download'></i></a>
          </div> 
         </div>

         <div class="portfolio-box" style="border-radius: 6rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 4rem var(--main-color);margin: 6px;">
          <img src="immagini/ms.png" alt="" style="height: 400px;">
            <div class="portfolio-layer">
                <h4>UCCIDI I NEMICI DI SUPER MARIO</h4>
                <a href="expl/mario kill enemies.zip" download="expl/mario kill enemies.zip"><i class='bx bxs-download'></i></a>
            </div> 
           </div>

           <div class="portfolio-box" style="border-radius: 6rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 4rem var(--main-color);margin: 6px;">
            <img src="immagini/mmm.webp" alt="" style="height: 400px;">
              <div class="portfolio-layer">
                  <h4>CLICK MONEY</h4>
                  <a href="expl/click money.zip" download="expl/click money.zip"><i class='bx bxs-download'></i></a>
              </div> 
             </div>

             <div class="portfolio-box" style="border-radius: 6rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 4rem var(--main-color);margin: 6px;">
              <img src="immagini/MMM.png" alt="" style="height: 400px;">
                <div class="portfolio-layer">
                    <h4>MATEMATICA</h4>
                    <a href="expl/mats.zip" download="expl/mats.zip"><i class='bx bxs-download'></i></a>
                </div> 

               </div>
               <div class="portfolio-box" style="border-radius: 6rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 4rem var(--main-color);margin: 6px;">
                <img src="immagini/cloud-computing-concept.jpg" alt="" style="height: 400px;">
                  <div class="portfolio-layer">
                      <h4>NUVOLE</h4>
                      <a href="expl/softwaren.zip" download="expl/softwaren.zip"><i class='bx bxs-download'></i></a>
                  </div> 
                 </div>

           <div class="portfolio-box" style="border-radius: 6rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 4rem var(--main-color);margin: 6px;">
            <img src="immagini/cc.jpg" alt="" style="height: 400px;">
              <div class="portfolio-layer">
                  <h4>CALCOLATRICE</h4>
                  <a href="expl/calcolatrice.zip" download="expl/calcolatrice.zip"><i class='bx bxs-download'></i></a>
              </div> 
             </div>
      </div>



    </div>



<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="immagini/script.js"></script>
</body>
</html>