<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="immagini/style.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<header class="header">
<a href="/" class="logo">Portfoglio</a>
<i class='bx bx-menu' id="menu-icon"></i>
<nav class="navbar">
  <a href="/"  class="active">Home</a>
  <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
</nav>
</header>

<section class="services" id="services">
  <h2 class="heading">STUDI INFORMATICI</h2>
    <div class="portfolio-container">
      <div class="portfolio-box" style="border-radius: 3rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 2rem var(--main-color);margin: 6px;">
        <img src="immagini/f1.png" alt="" style="height: 400px;">
          <div class="portfolio-layer">
              <h4>INFORMATICA</h4>
              <a href="immagini/teoria informatica #1.pdf" download="immagini/teoria informatica #1.pdf"><i class='bx bxs-download'></i></a>
          </div> 
         </div>

         <div class="portfolio-box" style="border-radius: 3rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 2rem var(--main-color);margin: 6px;">
          <img src="immagini/ssss.jpg" alt="" style="height: 400px;">
            <div class="portfolio-layer">
                <h4>SISTEMI OPERATIVI UNIVERITA</h4>
                <a href="immagini/Abraham Silberschatz-Operating System Concepts (9th,2012_12).pdf" download="immagini/Abraham Silberschatz-Operating System Concepts (9th,2012_12).pdf"><i class='bx bxs-download'></i></a>
            </div> 
           </div>

           <div class="portfolio-box" style="border-radius: 3rem ;border: 2rem solid var(--main-color2);  box-shadow: 0 0 2rem var(--main-color);margin: 6px;">
            <img src="immagini/sistemi.jpg" alt="" style="height: 400px;">
              <div class="portfolio-layer">
                  <h4>SISTEMI E DISPOSITIVI</h4>
                  <a href="immagini/relazione 2.pdf" download="immagini/relazione 2.pdf"><i class='bx bxs-download'></i></a>
              </div> 
             </div>


    </div>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="immagini/script.js"></script>
</body>
</html>