<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="immagini/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>

  <header class="header">
  <a href="/" class="logo">Portfoglio</a>
  <i class='bx bx-menu' id="menu-icon"></i>
  <nav class="navbar">
    <a href="/"  class="active">Home</a>
    <a onclick="myFunction()"><i class='bx bx-moon'></i></a>
  </nav>
  </header>

  <section class="portfolio" id="portfolio" style="background-color: var(--bg-color)">
    <h2 class="heading">I miei<span> Videogiochi</span></h2>
  <div class="portfolio-container">
  <div class="portfolio-box" >
    <img src="immagini/pacmansf.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Pacman Arena 2</h4>
          <p>Ho creato questo gioco copiando il vecchio gioco Pac-Man Arena e apportando delle modifiche utilizzando 
            grafica in stile pixel per migliorare l'aspetto visivo. Il gioco è stato realizzato in HTML</p>
          <a href="immagini/pacman arena 2.zip" download="immagini/pacman arena 2.zip"><i class='bx bxs-download'></i></a>
      </div>
  </div>

  <div class="portfolio-box">
    <img src="immagini/bulletbilsf.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Bullet bill v4.5</h4>
          <p>Ho creato questo gioco ispirandomi ai ricordi della mia infanzia, quando avevo 8 anni 
            e giocavo a giochi simili a Bullet Bill, Bullet Bill 2 e 3. Volevo rivivere quei ricordi e migliorare il gioco. Il gioco è stato realizzato in HTML.
          </p>
          <a href="immagini/bullet bill 4.5v test game programming.zip" download="immagini/bullet bill 4.5v test game programming.zip"><i class='bx bxs-download'></i></a>
      </div>
  </div>

  <div class="portfolio-box">
    <img src="immagini/pacmansfa1.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Pacman Arena</h4>
          <p>Ho creato questo gioco perché avevo giocato a Pac-Man in passato,
             e mentre mi muovevo nel labirinto per mangiare, ho pensato di 
             renderlo più piacevole. Ho deciso di rimuovere il labirinto perché 
             lo trovavo scomodo e ho trasformato il gioco in una sfida di sopravvivenza contro i fantasmi.Il gioco è stato realizzato in HTML.
          </p>
          <a href="immagini/pacman arena.zip" download="immagini/pacman arena.zip"><i class='bx bxs-download'></i></a>
      </div>
  </div>

  <div class="portfolio-box">
    <img src="immagini/mpeascigame.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Mangia pesci</h4>
          <p>Nel gioco che ho creato, ho immaginato una dinamica in cui i pesci grandi possono mangiare quelli più piccoli. L'idea mi è venuta giocando a giochi che 
            coinvolgono pesci, e ho deciso di creare una simulazione in cui un pesce piccolo può mangiare uno più grande. Il gioco è stato realizzato in HTML.
          </p>
          <a href="immagini/mangia pesci-20230721T094957Z-001-20230727T174236Z-001.zip" download="immagini/mangia pesci-20230721T094957Z-001-20230727T174236Z-001.zip"><i class='bx bxs-download'></i></a>
      </div>
  </div>

  <div class="portfolio-box">
    <img src="immagini/sparapallinesf.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Spara palline</h4>
          <p>Ho creato questo gioco copiando il codice da YouTube per capire come sono fatti i giochi di 
            sparare e colpire i nemici, al fine di imparare il codice e sviluppare nuove competenze  Il gioco è stato realizzato in HTML.</p>
            <a href="immagini/spara-palline-main.zip" download="immagini/spara-palline-main.zip"><i class='bx bxs-download'></i></a>
      </div>
  </div>


  <div class="portfolio-box">
    <img src="immagini/javagui.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Il gioco del click</h4>
          <p>Ho creato questo gioco per simulare una sfida di cliccaggio in modo da raggiungere un punteggio elevato.Il gioco è stato realizzato in JAVA</p>
          <a href="immagini/il gioco del click.zip" download="immagini/il gioco del click.zip"><i class='bx bxs-download'></i></a>
      </div>
  </div>


  <div class="portfolio-box">
    <img src="immagini/mario.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>MARIO Z ARENA</h4>
          <p>Ho creato questo gioco che io avevo preso per coppia di super mario e me lo sono immaginato mescolando insieme al duck hunt per fare questo gioco. Il gioco è stato realizzato in HTML.</p>
          <a href="immagini/mario z arena.zip" download="immagini/mario z arena.zip"><i class='bx bxs-download'></i></a>
      </div>
  </div>

  <div class="portfolio-box">
    <img src="immagini/dati.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>WILD DICE</h4>
          <p>Ho creato questo gioco in node.js per lanciare i due dadi nel server</p>
          <a href="https://gioco-del-dado-giustato.matteobarcellon.repl.co/"><i class='bx bx-link-external'></i></a>
      </div>
  </div>

  <div class="portfolio-box">
    <img src="immagini/pallina nera.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Pallina nero vs cubi arcobaleno</h4>
          <p>Ho creato questo gioco di cui arcobaleno contro nero con la pallina.</p>
          <a href="immagini/palina nera.zip" download="giochi/palina nera.zip"><i class='bx bxs-download'></i></a>
      </div>
  </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="immagini/script.js"></script>
</body>
</html>