
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="immagini/style.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  } 
</style>
</head>
<body>

<header class="header">
<a href="/" class="logo">Portfoglio</a>
<i class='bx bx-menu' id="menu-icon"></i>
<nav class="navbar">
  <a href="/"  class="active">Home</a>
  <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
</nav>
</header>

<section class="portfolio" id="portfolio" style="background-color: var(--bg-color)">
  <h2 class="heading">I miei<span> siti Web Developer</span></h2>
<div class="portfolio-container">
<div class="portfolio-box" >
  <img src="immagini/sistemi op.png" alt="" style="height: 300px;">
    <div class="portfolio-layer">
        <h4>Sito sistemi operativi</h4>
        <a href="https://sistemi-operativi.matteobarcello1.repl.co/" class="btn">Visita</a>
    </div>
</div>


  <div class="portfolio-box" >
    <img src="immagini/web1.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Primo sito web developer</h4>
          <a href="https://sito-esempio.matteobarcello1.repl.co/#homeSection" class="btn">Visita</a>
      </div>
  </div>


  <div class="portfolio-box" >
    <img src="immagini/calendario.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Calendario
          </h4>
          <a href="https://calerndario.matteobarcello1.repl.co/" class="btn">Visita</a>
      </div>
  </div>

  <div class="portfolio-box" >
    <img src="immagini/auto n.png" alt="" style="height: 300px;">
      <div class="portfolio-layer">
          <h4>Negozio di auto
          </h4>
          <a href="https://machine.matteobarcello1.repl.co/#parts"  class="btn">Visita</a>
      </div>
  </div>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="immagini/script.js"></script>
</body>
</html>